<p id="notice"><%= notice %></p>

<h1>Stations</h1>

<p>
  <%= link_to '< Home', welcome_index_path %> |
  <%= link_to 'Refresh', refresh_stations_path %>
</p>

<p>Last updated at <%= StationStatusRecord.last.try(:created_at_s) %></p>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Bikes Available</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @stations.each do |station| %>
      <tr>
        <td><%= station.number %></td>
        <td><%= link_to station.name, station %></td>
        <td>
          <% if station.last_status %>
            <%= station.last_status.bikes_available %> of <%= station.capacity %>
          <% else %>
            No data
          <% end %>
        </td>
        <td><%= link_to 'Show on Google Maps', station.google_maps_link %></td>
      </tr>
    <% end %>
  </tbody>
</table>
