<p id="notice"><%= notice %></p>

<%= link_to '< Back', stations_path %> |
<%= link_to 'Refresh', refresh_stations_path %>

<h1>Station <%= @station.number %></h1>

<p>
  "<%= @station.name %>"
  (<%= link_to "Show on Google Maps", @station.google_maps_link %>)
</p>

<p>
  <strong>Bikes Available:</strong>
  <%= @station.last_status.bikes_available %> (as of <%= @station.last_status.created_at_s %>)
</p>

<p>
  <strong>Coordinates:</strong>
  <%= @station.coordinate_y %> N, <%= @station.coordinate_x %> W
</p>

<div id="bike_availability_chart" style="width:100%; height:400px;"></div>

<p id="notice"><%= notice %></p>

<br>

<h1>Station Status Records</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Bikes total</th>
      <th>Bikes available</th>
      <!-- <th>Anchors</th> -->
      <th>Last seen</th>
      <th>Online</th>
      <th>Ip</th>
      <th>Number loans</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @station.station_status_records.order(id: :desc).each do |station_status_record| %>
      <tr>
        <td><%= station_status_record.created_at.to_s(:short) %></td>
        <td><%= station_status_record.bikes_total %></td>
        <td><%= station_status_record.bikes_available %></td>
        <!-- <td><%= station_status_record.anchors %></td> -->
        <td><%= station_status_record.last_seen.to_s(:short) %></td>
        <td><%= station_status_record.online %></td>
        <td><%= station_status_record.ip %></td>
        <td><%= station_status_record.number_loans %></td>
        <td><%= link_to 'Show', station_status_record %></td>
        <td><%= link_to 'Edit', edit_station_status_record_path(station_status_record) %></td>
        <td><%= link_to 'Destroy', station_status_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  document.onreadystatechange = function () {
    var myChart = Highcharts.chart('bike_availability_chart', {
      chart: {
        type: 'spline'
      },
      title: {
        text: 'Typical Availability'
      },
      xAxis: {
        type: 'datetime',
        title: {
          text: 'Hour'
        },
        // categories: [<%= (0..23).map { |hour| "'#{hour}:00'" }.join(', ').html_safe %>]
      },
      yAxis: {
        tickInterval: 1,
        max: <%= @station.capacity %>,
        title: {
          text: 'Bicycles Available'
        }
      },
      series: [
        {
          name: 'Weekends',
          data: <%= @station.chart_data(:from_weekends) %>
        },
        {
          name: 'Week days',
          data: <%= @station.chart_data(:from_week_days) %>
        },
        {
          name: 'Today',
          data: <%= @station.chart_data(:recent) %>
        }
      ]
    });
  };
</script>
