<p id="notice"><%= notice %></p>

<%= link_to '< Back', stations_path %> |
<%= link_to 'Refresh', refresh_stations_path %>

<h1>Bicicas Station <%= @station.number %></h1>

<p>
  "<%= @station.name %>"
  (<%= link_to "Show on Google Maps", @station.google_maps_link %>)
</p>

<p>
  <strong>Bikes Available:</strong>
  <%= @station.last_status.bikes_available %> (as of <%= @station.last_status.created_at_s %>)
</p>

<p>
  <strong>Average Bikes Available at This Hour:</strong>
  <%= @station.average_bikes_available(Time.now.hour) %>
</p>

<p>
  <strong>Average Bikes Available in General:</strong>
  <%= @station.average_bikes_available %>
</p>

<p>
  <strong>Coordinates:</strong>
  <%= @station.coordinate_y %> N, <%= @station.coordinate_x %> W
</p>

<table>
  <thead>
    <tr>
      <th>Hour</th>

      <% (0..23).each do |hour| %>
        <th><%= hour %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Average Bikes Available</td>

      <% (0..23).each do |hour| %>
        <td><%= @station.average_bikes_available(hour) %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<p id="notice"><%= notice %></p>

<br>

<h1>Station Status Records</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Bikes total</th>
      <th>Bikes available</th>
      <!-- <th>Anchors</th> -->
      <th>Last seen</th>
      <th>Online</th>
      <th>Ip</th>
      <th>Number loans</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @station.station_status_records.each do |station_status_record| %>
      <tr>
        <td><%= station_status_record.created_at.to_s(:short) %></td>
        <td><%= station_status_record.bikes_total %></td>
        <td><%= station_status_record.bikes_available %></td>
        <!-- <td><%= station_status_record.anchors %></td> -->
        <td><%= station_status_record.last_seen.to_s(:short) %></td>
        <td><%= station_status_record.online %></td>
        <td><%= station_status_record.ip %></td>
        <td><%= station_status_record.number_loans %></td>
        <td><%= link_to 'Show', station_status_record %></td>
        <td><%= link_to 'Edit', edit_station_status_record_path(station_status_record) %></td>
        <td><%= link_to 'Destroy', station_status_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
