<p id="notice"><%= notice %></p>

<p>
  <%= link_to '< Back to all stations', stations_path %> |
  <%= link_to 'Refresh all stations', refresh_stations_path %>
</p>

<h1>Station <%= @station.number %></h1>

<p>
  "<%= @station.name %>"
  (<%= link_to "Show on Google Maps", @station.google_maps_link %>)
</p>

<p>
  <strong>Status:</strong>
  <% if @station.last_status.present? %>
    <%= link_to @station.last_status, @station.last_status %>
  <% else %>
    Not sure, sorry!
  <% end %>
</p>

<p>
  <strong>Popularity rank:</strong>
  <% if @station.last_status.present? %>
    <%= @station.popularity_rank %> (<%= @station.last_status.number_loans %> loans so far today)
  <% else %>
    Not sure, sorry!
  <% end %>
</p>

<div id="bike_availability_chart" style="width:100%; height:400px;">
  <i>Don't see a chart here? Sorry about that. Please try reloading the page!</i>
</div>

<div id="bike_loans_chart" style="width:100%; height:400px;">
  <i>Don't see a chart here? Sorry about that. Please try reloading the page!</i>
</div>

<p id="notice"><%= notice %></p>

<br>

<h1>Station Status Records</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Bikes total</th>
      <th>Bikes available</th>
      <!-- <th>Anchors</th> -->
      <th>Last seen</th>
      <th>Online</th>
      <th>Ip</th>
      <th>Number loans</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @station.station_status_records.order(id: :desc).each do |station_status_record| %>
      <tr>
        <td><%= station_status_record.created_at.to_s(:short) %></td>
        <td><%= station_status_record.bikes_total %></td>
        <td><%= station_status_record.bikes_available %></td>
        <!-- <td><%= station_status_record.anchors %></td> -->
        <td><%= station_status_record.last_seen.to_s(:short) %></td>
        <td><%= station_status_record.online %></td>
        <td><%= station_status_record.ip %></td>
        <td><%= station_status_record.number_loans %></td>
        <td><%= link_to 'Show', station_status_record %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  window.onload = function () {
    var bikeAvailabilityChart = Highcharts.chart('bike_availability_chart', {
      chart: {
        type: 'spline'
      },
      title: {
        text: 'Typical Availability'
      },
      xAxis: {
        title: {
          text: 'Hour'
        },
        categories: [<%= (0..23).map { |hour| "'#{hour}:00'" }.join(', ').html_safe %>]
      },
      yAxis: {
        tickInterval: 1,
        min: 0,
        max: <%= @station.capacity %>,
        title: {
          text: 'Bicycles Available'
        }
      },
      series: [
        {
          name: 'Weekends',
          data: <%= @station.chart_data(:bikes_available, :from_weekends) %>
        },
        {
          name: 'Week days',
          data: <%= @station.chart_data(:bikes_available, :from_week_days) %>
        },
        {
          name: 'Today',
          data: <%= @station.chart_data(:bikes_available, :from_today) %>
        }
      ]
    });

    var bikeLoansChart = Highcharts.chart('bike_loans_chart', {
      chart: {
        type: 'spline'
      },
      title: {
        text: 'Number of loans over time'
      },
      xAxis: {
        title: {
          text: 'Hour'
        },
        categories: [<%= (0..23).map { |hour| "'#{hour}:00'" }.join(', ').html_safe %>]
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Number of Loans'
        }
      },
      series: [
        {
          name: 'Today',
          data: <%= @station.chart_data(:number_loans, :from_today) %>
        }
      ]
    });
  };
</script>
