<p id="notice"><%= notice %></p>

<p>
  <strong>Station:</strong>
  <%= @station_status_record.station_id %>
</p>

<p>
  <strong>Bikes total:</strong>
  <%= @station_status_record.bikes_total %>
</p>

<p>
  <strong>Bikes available:</strong>
  <%= @station_status_record.bikes_available %>
</p>

<p>
  <strong>Anchors:</strong>
  <table>
    <tr>
      <% @station_status_record.anchor_records.each do |anchor| %>
        <td class="label"><%= anchor["number"] %></td>
      <% end %>
    </tr>
    <tr>
      <% @station_status_record.anchor_records.each do |anchor| %>
        <% if anchor["bicycle"].present? %>
          <td class="label label-green"><%= anchor["bicycle"] %></td>
        <% else %>
          <td></td>
        <% end %>
      <% end %>
    </tr>
    <tr>
      <% @station_status_record.anchor_records.each do |anchor| %>
        <% if anchor["incidents"].present? %>
          <td class="label label-yellow"><%= anchor["incidents"] %></td>
        <% else %>
          <td></td>
        <% end %>
      <% end %>
    </tr>
  </table>
</p>

<p>
  <strong>Last seen:</strong>
  <%= @station_status_record.last_seen %>
</p>

<p>
  <strong>Online:</strong>
  <%= @station_status_record.online %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @station_status_record.ip %>
</p>

<p>
  <strong>Number loans:</strong>
  <%= @station_status_record.number_loans %>
</p>

<%= link_to 'Edit', edit_station_status_record_path(@station_status_record) %> |
<%= link_to 'Back', station_status_records_path %>
